{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{#    AJAx call to fill the movement table#}
    <script type="text/javascript">
    async function fillTableMovements() {
        {# TODO : retrieve url from routing #}
        fetch('https://127.0.0.1:8000/movements')
            .then(response => response.json())
            .then(movements => {
                console.log(movements);
                {# TODO : to be refactored #}
                movements.forEach(movement=>{
                    const tbody = document.querySelector('#tableMovements');
                    const tr = document.createElement('tr');
                    tr.classList.add("text-center");
                    {# TODO: protect datas#}
                    const badge = (type)=>{
                        if (type == 'income'){
                            return `<span class="badge bg-success rounded-pill">Income</span>`
                        } else {
                            return `<span class="badge bg-danger rounded-pill">Expense</span>`
                        }

                    }
                    tr.innerHTML = `
                        <td>${badge(movement.type)}</td>
                        <td>${movement.comment}</td>
                        <td>$${movement.amount}</td>`;
                    tbody.appendChild(tr);
                });

            })
            .catch((err)=>{
                console.log('Fetch Error:-S',err);
            });
    }
    fillTableMovements();
    </script>
{% endblock %}