
// customize some Bootstrap variables
$primary: #f3f3f3;
$success: #50f573;
$danger: #f14d4d;
$text-primary: #150160;
@import "~bootstrap/scss/bootstrap";
body {
    background-color: $primary;
    color:$text-primary;
}
.logo {
    height: 5.25rem;
}
.login{
    __input{
        width: 12rem;
        transition: all 0.3s;
    }
    __input:focus{
        outline: none;
        border: 1px solid #ccc;

    }
    __input::placeholder {
        color: #bbb;
    }
    __btn {
        font-size: 2.2rem;
        color: inherit;
        cursor: pointer;
        transition: all 0.3s;
    }
    __btn:hover,
    __btn:focus{
        outline: none;
        color: #777;
    }
}
.movements-section {
    color: $text-primary;
    overflow: scroll;
    height:75vh;
}
.add-income{
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.add-expense{
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.balance-block{
    color: #333;
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}
h2{
    font-size:1rem;

}

