
// customize some Bootstrap variables
$primary: darken(#6b1d9f, 20%);
$text-primary: #ebe5f1;
@import "~bootstrap/scss/bootstrap";
body {
    background-color: $primary;
    color:$text-primary;
}
.movement {
    color: white !important;
}
