
// customize some Bootstrap variables
$primary: darken(#ffffff, 20%);
$success: darken(#75d087, 20%);
$text-primary: #6b39ff;
@import "~bootstrap/scss/bootstrap";
body {
    background-color: $primary;
    color:$text-primary;
}
.movement {
    color: $text-primary;
}
