<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}My Wallet{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body class="container-fluid">
{#        TOP NAVIGATION#}
        <nav class="d-flex justify-content-between align-items-center py-0 px-2 mb-2">
            <h1>My Wallet</h1>
            <img src="logo.png" alt="Logo" class="logo" />
            {% include 'components/_loginForm.html.twig' %}
        </nav>

{#        movement list#}
    {% if is_granted('ROLE_USER') %}
        <main class="row" data-controller="movements">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <section class="col-sm-12 col-md-8 movements-section">
                {% include 'components/_movementList.html.twig' %}
            </section>
            <section class="col-sm-12 col-md-4">
                {% include('components/_balanceBlock.html.twig') %}
{#                TODO: could be refactored in one component/form #}
                {% include('components/_addIncomeForm.html.twig') %}
                {% include('components/_addExpenseForm.html.twig') %}
            </section>
        </main>
    {% endif %}
    </body>
</html>

