<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Wallet{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body class="container-fluid">
        <header>
            {% include 'components/_loginForm.html.twig' %}
        </header>
{#        movement list#}
        <div class="row">
            <section class="col-sm-12 col-md-8">
                {% include 'components/_movementList.html.twig' %}
            </section>
            <section class="col-sm-12 col-md-4">
{#                TODO: to refactor in one component/form #}
                {% include('components/_addIncomeForm.html.twig') %}
                {% include('components/_addExpenseForm.html.twig') %}
            </section>
        </div>

        <script type="text/javascript">
            const addCell = (table,movement)=>{
                const tr = document.createElement('tr');
                tr.classList.add("text-center");
                const badge = (type)=>{
                    if (type == 'income'){
                        return `<span class="badge bg-success rounded-pill">Income</span>`
                    } else {
                        return `<span class="badge bg-danger rounded-pill">Expense</span>`
                    }

                }
                tr.innerHTML = `
                        <td>${badge(movement.type)}</td>
                        <td>${movement.comment}</td>
                        <td>$${movement.amount}</td>`;
                table.appendChild(tr);
            }
            // get datas from DOM
            const formAddIncome = document.getElementById('add-income');
            formAddIncome.addEventListener('submit',(e)=>{
                e.preventDefault();
                const movement = {
                    comment:document.getElementById('inputIncomeText').value,
                    type: 'income',
                    amount: document.getElementById('inputIncome').value
                }

                // POST datas
                fetch("https://127.0.0.1:8000/add", {
                    method: 'POST',
                    redirect: 'follow',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(movement)
                })
                    .then(response => response.text())
                    .then(result => {
                        console.log(result);
                        const table = document.getElementById('tableMovements');
                        addCell(table,movement);
                    })
                    .catch(error => console.log('error', error));

            })
        </script>
    </body>
</html>

