<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <form method="post" action="#">
                <input
                    type="text"
                    class="form-control rounded"
                    placeholder="username" id="inputUser"
                    name="inputUser"
                >
                <input
                    type="text"
                    class="form-control rounded"
                    placeholder="pin" id="inputPin"
                    name="inputPin"
                >
        </form>

        {% block body %}{% endblock %}
    </body>
</html>
