<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Wallet{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="container-fluid">
        <header>
            {% include 'components/_loginForm.html.twig' %}
        </header>
{#        movement list#}
        <div class="row">
            <section class="col-sm-12 col-md-8">
                {% include 'components/_movementList.html.twig' %}
            </section>
            <section class="col-sm-12 col-md-4">
{#                TODO: to refactor in one component/form #}
                {% include('components/_addIncomeForm.html.twig') %}
                {% include('components/_addExpenseForm.html.twig') %}
            </section>
        </div>



    </body>
</html>
