<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}My Wallet{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body class="container-fluid">
{#        TOP NAVIGATION#}
        <nav class="d-flex justify-content-between align-items-center py-0 px-2 mb-2">
            <h1>My Wallet</h1>
            <img src="logo.png" alt="Logo" class="logo" />
            {% include 'components/_loginForm.html.twig' %}
        </nav>

{#        movement list#}
        <main class="row" data-controller="movements">
            <section class="col-sm-12 col-md-8 movements-section">
                {% include 'components/_movementList.html.twig' %}
            </section>
            <section class="col-sm-12 col-md-4">
                {% include('components/_balanceBlock.html.twig') %}
{#                TODO: could be refactored in one component/form #}
                {% include('components/_addIncomeForm.html.twig') %}
                {% include('components/_addExpenseForm.html.twig') %}
            </section>
        </main>

{#        <script>#}
{#            const loginForm = document.getElementById('login_form');#}
{#            loginForm.addEventListener('submit',(e)=>{#}
{#                e.preventDefault();#}
{#                let username= document.getElementById('inputUsername').value;#}
{#                let password= document.getElementById('inputPIN').value;#}
{#                console.log(username,password)#}
{#                fetch('https://127.0.0.1:8000/login', {#}
{#                    method: 'POST',#}
{#                    headers: {#}
{#                        'Content-Type': 'application/json'#}
{#                    },#}
{#                    body: JSON.stringify({username: username, password: password})#}
{#                })#}
{#                    .then(response => response.json())#}
{#                    .then(result => console.log(result))#}
{#                    .catch(error => {#}
{#                        console.log(error);#}
{#                        // if (error.response.data) {#}
{#                        //     this.error = error.response.data.error;#}
{#                        // }else{#}
{#                        //     this.error = "unknown error";#}
{#                        // }#}
{#                    });#}
{#            })#}

{#        </script>#}
    </body>
</html>

