<form class="shadow rounded row m-1 add-expense" method="post" id="add-expense" data-action="movements#addMovement" data-movements-type-param='expense'>
    <label for="inputExpenseText" class="form-label pt-2 ms-1">Add Expense</label>
    <div class="row m-1">
        <input
                type="text"
                placeholder="Subject"
                class="form-control col-9 movement form-control-sm bg-danger border-0"
                id="inputExpenseText"
                name="inputExpenseText"
        >
    </div>
    <div class="row m-1">
        <div class="col-9 p-0">
            <input
                    type="number"
                    min="0"
                    step="0.01"
                    class="form-control movement form-control-sm bg-danger border-0"
                    id="inputExpense"
                    name="inputExpense"
            >
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-transparent">&rarr;</button>
        </div>
    </div>

</form>