<form class="shadow rounded row m-1 add-income" method="post" id="add-income" data-action="movements#addMovement" data-movements-type-param='income'>
    <label for="inputIncome" class="form-label">Add Income</label>
    <div class="row m-1">
        <input
                type="text"
                placeholder="Subject"
                class="form-control col-9 movement form-control-sm bg-success border-0"
                id="inputIncomeText"
                name="inputIncomeText"
        >
    </div>
    <div class="row m-1">
        <div class="col-9 p-0">
            <input
                    type="number"
                    min="0"
                    step="0.01"
                    class="form-control movement form-control-sm bg-success border-0"
                    id="inputIncome"
                    name="inputIncome"
            >
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-transparent">&rarr;</button>
        </div>
    </div>

</form>