<form class="bg-danger row m-1">
    <label for="inputIncome" class="form-label">Add Income</label>
    <div class="row m-1">
        <input
                type="text"
                class="form-control col-9 movement form-control-sm bg-danger border-0"
                id="inputExpenseText"
                name="inputExpenseText"
        >
    </div>
    <div class="row m-1">
        <div class="col-9 p-0">
            <input
                    type="number"
                    class="form-control movement form-control-sm bg-danger border-0"
                    id="inputIncome"
                    name="inputIncome"
            >
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">-></button>
        </div>
    </div>

</form>