<div class="shadow rounded row m-1 balance-block" data-movements-target="getBalance">
    <div class="col-4">Incomes: <span id="totalIncomes"></span></div>
    <div class="col-4">Expenses: <span id="totalExpenses"></span></div>
    <div class="col-4">Balance: <span id="totalBalance"></span></div>
</div>