<form class="d-flex">
    <input
            type="text"
            placeholder="user"
            class="form-control border-1 border-primary py-1 px-2 me-1 text-center rounded-pill  login__input"
    />
    <!-- In practice, use type="password" -->
    <input
            type="text"
            placeholder="PIN"
            maxlength="4"
            class="form-control border-1 border-primary py-1 px-2 me-1 text-center rounded-pill login__input"
    />
    <button class="border-0 bg-transparent login__btn">&rarr;</button>
</form>