<form method="post" class="row g-2 mt-1">
    <h1 class="col-sm-5 col-md-7">My Wallet</h1>
    <div class="col-sm-3 col-md-2">
        <input
                type="text"
                class="form-control rounded-pill"
                placeholder="username" id="inputUser"
                name="inputUser"
        >
    </div>
    <div class="col-sm-3 col-md-2">
        <input
                type="text"
                class="form-control rounded-pill"
                placeholder="pin" id="inputPin"
                name="inputPin"
        >
    </div>
    <button type="submit" class="btn btn-primary col-1 rounded-pill">-></button>
</form>