<table class="col-12 border border-2 border-white">
    <tr class="text-center">
        <td>
            <span class="badge bg-success rounded-pill">Income</span>
        </td>
        <td>
            Salary
        </td>
        <td>
            $5.000
        </td>
    </tr>
    <tr class="text-center">
        <td>
            <span class="badge bg-success rounded-pill">Income</span>
        </td>
        <td>
            Salary
        </td>
        <td>
            $5.000
        </td>
    </tr>
    <tr class="text-center">
        <td>
            <span class="badge bg-success rounded-pill">Income</span>
        </td>
        <td>
            Salary
        </td>
        <td>
            $5.000
        </td>
    </tr>
    <tr class="text-center">
        <td>
            <span class="badge bg-success rounded-pill">Income</span>
        </td>
        <td>
            Salary
        </td>
        <td>
            $5.000
        </td>
    </tr>
</table>